[submodule "lerobot"]
	url = https://github.com/Jianshu-Hu/lerobot.git
	path = lerobot
[submodule "gello_software"]
	path = gello_software
	url = https://github.com/Manelich1107/dev-gello-deploy-update.git
	branch = gello-software
